body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; /* Fundo preto para destacar as imagens */
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
}

.plant {
    position: absolute;
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px;
    pointer-events: none; /* As imagens não bloqueiam o movimento do mouse */
}